// Import Variables
@use "../../sass/helpers/variables" as *;

// Import Mixins
@use "../../sass/helpers/mixins" as *;

.checkout-page {
  .container {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 20px));
    gap: 40px;

    @include breakpoints("md") {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
